body {
  background-color: orange;
  position: absolute;
  width: 400%;
  height: 200%;
  top: 50%;
  left: 50%;
  margin-left: -200%;
  margin-top: -100%; }

.wrapper {
  position: absolute;
  width: 960px;
  height: 540px;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -270px; }
