#animacion{
	position: relative;
}
#cubo_1{
	background-color: magenta;
	top: 10px;
}
#cubo_2{
	background-color: orange;
	top:120px;
}
#cubo_3{
	background-color: cyan;
	top:230px;
}
#cubo_4{
	background-color: grey;
	top:340px;
}
.cubo{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 20px;
}