#juego{
	width: 292px;
	height: 286px;
	background-color:green; 
}
.tab{
	display: inline-block;
	background: yellow;
	border-radius: 10px;
	text-align: center;
	font-size: 18px;
	color: black;
	cursor: pointer;
	width: 200px;
	height: 30px;
	padding-top: 10px;
}
.tab:hover{
	background: black;
	color: yellow;
}
#instrucciones, #juego{
	display: none;
}
.ficha{
	width: 90px;
	height: 90px;
	background-color: white;
	display: inline-block;
	margin: 2px;
	font-size: 60px;
	text-align: center;
	cursor: pointer;
}