body{
	background-color: green;
}
#logo{
	background-image:url(../img/amazon_sprite.png);
	background-repeat: no-repeat;
	width: 180px;
    height: 49px;
    background-position:0px -276px;
}

#boton_carrito{
	background-image:url(../img/amazon_sprite.png);
	background-repeat: no-repeat;
	width: 106px;
    height: 35px;
    background-position:-365px -237px;
    cursor: pointer;
}

#boton_carrito:hover{
	background-position:0px -275px;
}

/**/
.sprite{
	background-image:url(../img/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.cinema4d{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -90px -270px;
}
.firefox{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -270px -180px;
}
.mail{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -270px -90px;
}
.messenger{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -270px -0px;
}
.mule{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -180px -270px;
}
.music{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -180px -180px;
}
.nero{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -180px -90px;
}
.photoshop{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -180px -0px;
}
.pidgin{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -0px -270px;
}
.reboot{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -90px -180px;
}
.shutdown{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -90px -90px;
}
.skype{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -90px -0px;
}
.sync{
top:7px;
left:7px;
width:76px;
height:83px;
background-position:  -270px -270px;
}
.thunderbird{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -0px -180px;
}
.transmission{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -0px -90px;
}
.winamp{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -0px -0px;
}

/**/

.contenedor{
	position: relative;
	width: 800px;
	height: 600px;
	background-color: purple;
	margin: 0 auto;
}
.afiche{
	position: absolute;
	top:34px;
	left:122px;
	width:551px;
	height:80px;
	background: url("../img/sprites.png") no-repeat -0px -443px;
}
.creditos{
	position: absolute;
	top:479px;
	left:540px;
	width:216px;
	height:92px;
	background: url("../img/sprites.png") no-repeat -0px -523px;
}
.fondo{
	position: absolute;
	top:157px;left:0px;
	width:799px;
	height:443px;
	background: url("../img/sprites.png") no-repeat -0px -0px;
}
.nave{
	position: absolute;
	top:185px;
	left:287px;
	width:277px;
	height:415px;
	background: url("../img/sprites.png") no-repeat -551px -443px;
}
.texto{
	position: absolute;
	top:396px;
	left:85px;
	width:199px;
	height:146px;
	background: url("../img/sprites.png") no-repeat -0px -615px;
}