.firefox{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -151px -154px;
}
.music{
top:0px;
left:0px;
width:90px;
height:90px;
background-position:  -128px -260px;
}
.slice01_01{
top:0px;
left:0px;
width:14px;
height:13px;
background-position:  -137px -197px;
}
.slice02_02{
top:0px;
left:0px;
width:10px;
height:19px;
background-position:  -229px -135px;
}
.slice03_03{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -316px -110px;
}
.slice04_04{
top:0px;
left:0px;
width:294px;
height:8px;
background-position:  -0px -58px;
}
.slice05_05{
top:0px;
left:0px;
width:151px;
height:30px;
background-position:  -0px -154px;
}
.slice06_06{
top:0px;
left:0px;
width:22px;
height:15px;
background-position:  -130px -244px;
}
.slice07_07{
top:0px;
left:0px;
width:11px;
height:13px;
background-position:  -152px -244px;
}
.slice08_08{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -326px -316px;
}
.slice09_09{
top:0px;
left:0px;
width:14px;
height:13px;
background-position:  -137px -184px;
}
.slice100_100{
top:0px;
left:0px;
width:15px;
height:9px;
background-position:  -316px -136px;
}
.slice101_@{
top:0px;
left:0px;
width:15px;
height:9px;
background-position:  -316px -136px;
}
.slice10_10{
top:0px;
left:0px;
width:13px;
height:19px;
background-position:  -341px -162px;
}
.slice11_11{
top:0px;
left:0px;
width:4px;
height:4px;
background-position:  -58px -362px;
}
.slice12_12{
top:0px;
left:0px;
width:7px;
height:7px;
background-position:  -173px -358px;
}
.slice13_13{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -316px -84px;
}
.slice14_14{
top:0px;
left:0px;
width:4px;
height:4px;
background-position:  -62px -362px;
}
.slice15_15{
top:0px;
left:0px;
width:7px;
height:4px;
background-position:  -44px -362px;
}
.slice16_16{
top:0px;
left:0px;
width:130px;
height:25px;
background-position:  -0px -235px;
}
.slice17_17{
top:0px;
left:0px;
width:24px;
height:24px;
background-position:  -326px -342px;
}
.slice18_18{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -199px -350px;
}
.slice19_19{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -182px -244px;
}
.slice20_20{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -190px -244px;
}
.slice21_21{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -191px -350px;
}
.slice22_22{
top:0px;
left:0px;
width:11px;
height:6px;
background-position:  -333px -310px;
}
.slice23_23{
top:0px;
left:0px;
width:5px;
height:9px;
background-position:  -331px -136px;
}
.slice24_24{
top:0px;
left:0px;
width:13px;
height:19px;
background-position:  -341px -19px;
}
.slice25_25{
top:0px;
left:0px;
width:33px;
height:33px;
background-position:  -179px -112px;
}
.slice26_26{
top:0px;
left:0px;
width:13px;
height:19px;
background-position:  -341px -0px;
}
.slice27_27{
top:0px;
left:0px;
width:7px;
height:4px;
background-position:  -51px -362px;
}
.slice28_28{
top:0px;
left:0px;
width:20px;
height:20px;
background-position:  -304px -266px;
}
.slice29_29{
top:0px;
left:0px;
width:30px;
height:30px;
background-position:  -303px -286px;
}
.slice30_30{
top:0px;
left:0px;
width:9px;
height:8px;
background-position:  -173px -244px;
}
.slice31_31{
top:0px;
left:0px;
width:10px;
height:17px;
background-position:  -218px -348px;
}
.slice32_32{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -198px -244px;
}
.slice33_33{
top:0px;
left:0px;
width:9px;
height:12px;
background-position:  -182px -350px;
}
.slice34_34{
top:0px;
left:0px;
width:30px;
height:30px;
background-position:  -284px -145px;
}
.slice35_35{
top:0px;
left:0px;
width:10px;
height:17px;
background-position:  -228px -348px;
}
.slice36_36{
top:0px;
left:0px;
width:9px;
height:8px;
background-position:  -173px -252px;
}
.slice37_37{
top:0px;
left:0px;
width:9px;
height:8px;
background-position:  -173px -350px;
}
.slice38_38{
top:0px;
left:0px;
width:10px;
height:10px;
background-position:  -163px -350px;
}
.slice39_39{
top:0px;
left:0px;
width:10px;
height:10px;
background-position:  -163px -244px;
}
.slice40_40{
top:0px;
left:0px;
width:36px;
height:48px;
background-position:  -88px -302px;
}
.slice41_41{
top:0px;
left:0px;
width:15px;
height:9px;
background-position:  -316px -136px;
}
.slice42_42{
top:0px;
left:0px;
width:28px;
height:15px;
background-position:  -88px -350px;
}
.slice43_43{
top:0px;
left:0px;
width:17px;
height:12px;
background-position:  -132px -210px;
}
.slice44_44{
top:0px;
left:0px;
width:10px;
height:19px;
background-position:  -342px -115px;
}
.slice45_45{
top:0px;
left:0px;
width:22px;
height:15px;
background-position:  -116px -350px;
}
.slice46_46{
top:0px;
left:0px;
width:13px;
height:19px;
background-position:  -333px -291px;
}
.slice47_47{
top:0px;
left:0px;
width:7px;
height:7px;
background-position:  -179px -145px;
}
.slice48_48{
top:0px;
left:0px;
width:16px;
height:26px;
background-position:  -341px -136px;
}
.slice49_49{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -206px -244px;
}
.slice50_50{
top:0px;
left:0px;
width:8px;
height:13px;
background-position:  -207px -350px;
}
.slice51_51{
top:0px;
left:0px;
width:5px;
height:9px;
background-position:  -336px -136px;
}
.slice52_52{
top:0px;
left:0px;
width:13px;
height:7px;
background-position:  -31px -356px;
}
.slice53_53{
top:0px;
left:0px;
width:13px;
height:5px;
background-position:  -132px -230px;
}
.slice54_54{
top:0px;
left:0px;
width:5px;
height:9px;
background-position:  -284px -225px;
}
.slice55_55{
top:0px;
left:0px;
width:14px;
height:13px;
background-position:  -138px -350px;
}
.slice56_56{
top:0px;
left:0px;
width:5px;
height:5px;
background-position:  -83px -302px;
}
.slice57_57{
top:0px;
left:0px;
width:5px;
height:5px;
background-position:  -83px -302px;
}
.slice58_58{
top:0px;
left:0px;
width:36px;
height:48px;
background-position:  -280px -66px;
}
.slice59_59{
top:0px;
left:0px;
width:27px;
height:27px;
background-position:  -314px -145px;
}
.slice60_60{
top:0px;
left:0px;
width:43px;
height:52px;
background-position:  -218px -296px;
}
.slice61_61{
top:0px;
left:0px;
width:43px;
height:52px;
background-position:  -241px -135px;
}
.slice62_62{
top:0px;
left:0px;
width:43px;
height:52px;
background-position:  -218px -244px;
}
.slice63_63{
top:0px;
left:0px;
width:43px;
height:47px;
background-position:  -241px -187px;
}
.slice64_64{
top:0px;
left:0px;
width:43px;
height:52px;
background-position:  -261px -234px;
}
.slice65_65{
top:0px;
left:0px;
width:45px;
height:46px;
background-position:  -0px -310px;
}
.slice66_66{
top:0px;
left:0px;
width:43px;
height:52px;
background-position:  -45px -310px;
}
.slice67_67{
top:0px;
left:0px;
width:42px;
height:48px;
background-position:  -261px -286px;
}
.slice68_68{
top:0px;
left:0px;
width:28px;
height:34px;
background-position:  -304px -205px;
}
.slice69_69{
top:0px;
left:0px;
width:27px;
height:27px;
background-position:  -304px -239px;
}
.slice70_70{
top:0px;
left:0px;
width:35px;
height:31px;
background-position:  -261px -334px;
}
.slice71_71{
top:0px;
left:0px;
width:128px;
height:42px;
background-position:  -0px -260px;
}
.slice72_72{
top:0px;
left:0px;
width:68px;
height:69px;
background-position:  -212px -66px;
}
.slice73_73{
top:0px;
left:0px;
width:59px;
height:8px;
background-position:  -0px -302px;
}
.slice74_74{
top:0px;
left:0px;
width:24px;
height:8px;
background-position:  -59px -302px;
}
.slice75_75{
top:0px;
left:0px;
width:17px;
height:17px;
background-position:  -212px -135px;
}
.slice76_76{
top:0px;
left:0px;
width:10px;
height:77px;
background-position:  -352px -38px;
}
.slice77_77{
top:0px;
left:0px;
width:10px;
height:77px;
background-position:  -342px -38px;
}
.slice78_78{
top:0px;
left:0px;
width:212px;
height:46px;
background-position:  -0px -66px;
}
.slice79_79{
top:0px;
left:0px;
width:7px;
height:112px;
background-position:  -359px -227px;
}
.slice80_80{
top:0px;
left:0px;
width:7px;
height:112px;
background-position:  -358px -115px;
}
.slice81_81{
top:0px;
left:0px;
width:32px;
height:31px;
background-position:  -284px -114px;
}
.slice82_82{
top:0px;
left:0px;
width:137px;
height:26px;
background-position:  -0px -184px;
}
.slice83_83{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -331px -239px;
}
.slice84_84{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -316px -58px;
}
.slice85_85{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -333px -265px;
}
.slice86_86{
top:0px;
left:0px;
width:26px;
height:26px;
background-position:  -332px -199px;
}
.slice87_87{
top:0px;
left:0px;
width:11px;
height:13px;
background-position:  -152px -350px;
}
.slice88_88{
top:0px;
left:0px;
width:179px;
height:42px;
background-position:  -0px -112px;
}
.slice89_89{
top:0px;
left:0px;
width:132px;
height:25px;
background-position:  -0px -210px;
}
.slice90_90{
top:0px;
left:0px;
width:4px;
height:4px;
background-position:  -66px -362px;
}
.slice91_91{
top:0px;
left:0px;
width:27px;
height:27px;
background-position:  -314px -172px;
}
.slice92_92{
top:0px;
left:0px;
width:30px;
height:30px;
background-position:  -296px -334px;
}
.slice93_93{
top:0px;
left:0px;
width:30px;
height:30px;
background-position:  -284px -175px;
}
.slice94_94{
top:0px;
left:0px;
width:15px;
height:8px;
background-position:  -132px -222px;
}
.slice95_95{
top:0px;
left:0px;
width:21px;
height:8px;
background-position:  -130px -235px;
}
.slice96_96{
top:0px;
left:0px;
width:20px;
height:20px;
background-position:  -284px -205px;
}
.slice97_97{
top:0px;
left:0px;
width:15px;
height:8px;
background-position:  -132px -222px;
}
.slice98_98{
top:0px;
left:0px;
width:31px;
height:8px;
background-position:  -0px -356px;
}
.slice99_99{
top:0px;
left:0px;
width:341px;
height:58px;
background-position:  -0px -0px;
}
